


/* .input-container {
  display: flex;
  justify-content: center;
 margin: 30px 0;
 
} */


.input-size{
  height: 30px;
border: 2px solid black;
  width:400px;
  margin-bottom: 10px;
  border-radius: 8px;
  margin-right:50px;
}

.item-name{
  padding: 4px 0px;
  text-align: center;
}

.item-name:hover{
 cursor: pointer;
 color: lightblue;
}

.title{
  display: flex;
  justify-content: center;
  margin:0 25px;
  margin-top: 5px;
}

.card a {
  text-decoration: none;
  color: #333;
}

.card h3 {
  margin: 0;
}

.checkbox{
  display: flex;
  justify-content: center;
  margin-top: 5px;
  gap: 12px;
}

.detail-style{
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 5px;
  max-width: 400px;
  margin: 0 auto;
  text-align: center;

}

p{
  font-size: 1.2rem;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

/* Your existing styles */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px; /* Add spacing around the content */
  text-align: center; /* Center-align text within the container */
}

.section-title {
  margin-top: 15px;
  display: inline-block;
}

.input-container {
  margin-top: 20px; /* Add space between input sections */
}

.d-flex{
  display: flex;
}
.flex-column{
  flex-direction: column;
}
.align-items-center{
  align-items: center;
} 
.align-items-start{
  align-items: start;
} 
.gap-5{
  gap: 30px;
}
.mt-0{
  margin-top: 0px;
}
.mb-0{
  margin-bottom: 0px;
}
.mb-4{
  margin-bottom: 16px;
}
.flex-wrap{
  flex-wrap: wrap;
}
/* Add media queries for smaller screens */
@media screen and (max-width: 768px) {
  .input-size {
    width: 100%;
  }
  .flex-wrap{
    justify-content: center;
  }

  .checkbox {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

}



